HOST=0.0.0.0
PORT=3000
AUTH_TOKEN=
CAMOUFOX_WORKERS=1
CAMOUFOX_QUEUE_SIZE=8
CAMOUFOX_TASK_TIMEOUT_SECONDS=120
CAMOUFOX_SESSION_TTL_SECONDS=900
CAMOUFOX_MAX_JOBS_PER_WORKER=50
CAMOUFOX_MAX_WORKER_LIFETIME_SECONDS=1800
CAMOUFOX_MAX_WORKER_RSS_MB=1536
CAMOUFOX_HEADLESS=true

